<div class="box">
  <h2>iAnalytix</h2>
    <p>
      <img src="images/chart.png" style="float: left; padding: 20px; padding-top: 10px;" />
      Welcome! <b>iAnalytix.</b> is a free real time web analytics system 
      which allows you to track the source your visitors are coming 
      from, such as search engines, including your keywords, referring sites 
      and you may also get a report on your most popular pages on you website. 
    </p>
</div>

<div class="box">
  <h2>Why iAnalytix?</h2>
    <p>
      <img src="images/clock.png" style="float: left; padding: 20px; padding-top: 2px;" />
      Our aim was to create a <b>fast</b> and <b>reliable</b> system that would 
      provide you with <b>real time</b> statistics, meaning that in the moment a visitor 
      arrives to your website, its "footprints" are visible in the statistics of your 
      webpage.
    </p>
</div>