<div class="box" align="center">

  <div id="registration_form_errors"></div>
  
  <table cellspacing="20px">
    <tr>
      <td>Email:</td>
      <td><input type="text" id="registration_form_email"></input></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" id="registration_form_password"></input></td>
    </tr>
    <tr>
      <td>Confirm password:</td>
      <td><input type="password" id="registration_form_password_confirmation"></input></td>
    </tr>
  </table>
  
  <button class="button" onclick="register()">Register</button>
  
</div>